@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto { /* Main font */
  font-family: 'Roboto', sans-serif;
}

.transition-color { /* Slowly transitions text to blue */
  transition: all 0.3s ease-in-out;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4f46e5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}